<div class="row">
  <div class="col col-md-12" align="center">
    <iframe width="1200" height="627"
    src="<%= @video.title %>" >
    </iframe>
  </div>
</div>
  

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
