<div class="row">
  <div class="col col-md-12" align="center">
    <iframe width="1200" height="627"
    src="<%= @video.title %>" >
    </iframe>
  </div>
</div>
  
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_video_path(@video), class: 'btn btn-xs btn-info' %> |
  <%= link_to 'Back', videos_path, class: 'btn btn-xs btn-warning' %>
<% end %>
