<div class="row">
  <div class="col col-md-12">
    <h2 align="center"><%= @news_page.title %></h2>
    <div><%= @news_page.content.html_safe %></div>
  </div>
</div>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_news_page_path(@news_page) %> |
  <%= link_to 'Back', news_pages_path %>
<% end %>
