footer{
  margine-top: 45px;
  padding-top: 5px;
  border-top: 5 px solid black;
  color: #777;
}
@import "bootstrap-sprockets";
@import "bootstrap";


navbar-right{
  margin-right: 0px;
}

#body-wrapper{
  width: 95%;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  padding: 1% 2%;
}
#nav-img{
  width: 100%;
  height: 250px;
}

.article-actions {
  border-top: 2px solid #eaeaea;
  margin-bottom: -10px;
}
#buttons{
  padding-top: 10px;
  
}

#title_h4{
  margin-top: -5px;
}

footer nav{
  margin-top: 40px;
  padding: 10px;
  border-top: 2px soild balck;
}
footer li {
  display: inline;
  text-decoration: none;
  margin: 2px 16px;
  padding: 1px;
}
.listing{
  list-style: none;
  padding: 0; 
}
.round{
  border-radius: 50px;
}
#post-title{
  border-bottom: 1px solid #eaeaea;
}
.topic{
  width: 85%;
  background-color: #b2ebf2;
}

.topic-header{
  border-bottom: 1px solid black;
}
.topic-header a{
  color: red;
}
// This is Topic index page ------------------------------------
#user-info{
  background-color: #FFECB3;
   
}
#user-info a, #user-info-posts a{
  margin-left: 10px;
}
#post-panel{
  padding: 1%;
  margin: 2px auto 7px auto;
}
.default{
  padding: 0;
  margin: 0;
}


