<footer class="footer" id="footer">
  <div class="container">
      <nav align="center">
      <ul>
      <small> Copyright &copy; by <a href="">Alisher Musurmonov,</a></small>
        <li><%= link_to "About" %></li>
        <li><%= link_to "Help" %></li>
        <li><%= link_to "Contact" %></li>
      </ul>
    </nav>  
  </div>
</footer>